{% extends "layouts.front.app" %}



{% block content %}

<section class="">
    <div class="container">
        <div class="row">
            
            <div class="col-md-12">
                <div class="text-center" style="margin-top: 150px; font-family: 'Montserrat' sans-serif !important;">
                    <h2 style="font-weight: 100; font-size: 24px; color: #003478;">DÉSOLÉ, CETTE PAGE N'EST PAS DISPONIBLE <br> À CETTE ADRESSE</h2>
                </div>
                <div class="m-t-20 text-center" style="font-size: 16px !important;">
                    <p>Merci d'utiliser le bouton ci-dessous</p> 
                    <div class="m-t-30" style="margin-bottom: 150px;">
                        <a href="{{ url('/') }}" class="btn btn-primary solid blank" style="font-size: 14px; font-weight: 700; color: #fff; text-transform: uppercase; background: #003478; height: 50px; padding: 0 30px; line-height: 52px; border-radius: 5px; -webkit-border-radius: 5px; -ms-border-radius: 5px; -o-transition: all 0.4s ease; transition: all 0.4s ease; -webkit-transition: all 0.4s ease; -moz-transition: all 0.4s ease; -ms-transition: all 0.4s ease; outline: none; text-decoration: none; border: none; cursor: pointer; display: inline-block;"><i class="icofont-circled-left"> </i> Retour à la page d'accueil</a>
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>
  </section>

{% endblock %}