<!-- ======= Footer ======= -->
<style>
    .type {

        font-size: 18px !important;
        color: #003478;
        font-weight: 700;

    }
</style>
<section id="social_bloc" class="d-none d-lg-block" style="margin-top: 2%;">
    <div class="container">
        <div class="row animated fadeInUp visible" data-animation="fadeInUp">
            <div class="col-md-12 text-center">
                <h2 class="up_text" style="color:#005BA4; font-size: 26px; font-weight: 600;">SUIVEZ NOUS SUR LES
                    RÉSEAUX SOCIAUX</h2>
                <hr class="hr_mate">
                <p class="">
                    <a href="https://www.facebook.com/moovafricacotedivoire/?_rdc=1&_rdr" class="link_social">
                        <i class="icofont-facebook" style="color: #fff;"></i>
                    </a>
                    <a href="https://twitter.com/Moovafrica_CIV" class="link_social2">
                        <i class="icofont-twitter" style="color: #fff;"></i>
                    </a>
                    <a href="https://www.youtube.com/c/MOOVC%C3%B4tedIvoireMoov/videos" class="link_social3">
                        <i class="icofont-youtube" style="color: #fff;"></i>
                    </a>
                    <a href="https://www.linkedin.com/company/11771671/admin/" class="link_social4">
                        <i class="icofont-linkedin" style="color: #fff;"></i>
                    </a>
                 
                    <a href="https://www.instagram.com/moovafricacotedivoire/?igshid=1fs2ftemv3w9s" class="link_social5">
                        <i class="icofont-instagram" style="color: #fff;"></i>
                    </a>
                </p>
            </div>


        </div>
    </div>
</section>

<footer id="footer" class="d-none d-lg-block">
    <div class="footer-top">
        <div class="container">
            <div class="row animated fadeInUp visible" data-animation="fadeInUp">
                <div class="col footer-links">
                    <h3 class="type">Liens UTILES</h3>
                    <div class="" style="margin-top: -10px;">
                        <hr class="hr_mate" style="float: left;">
                    </div>
                    <div class="" style="float: left; font-weight: 300 !important;">
                        <p>
                            <i class="icofont-rounded-right"
                                style="color: #ea6721; font-weight: 400; font-size: 18px !important;"></i>
                            <a href="https://www.moov-africa.ci/e-catalogue/"
                                style="color:#ff0000; font-weight: 700;">E-Catalogues de Moov</a>
                        </p>
                        <p style="margin-top: -10px;">
                            <i class="icofont-rounded-right"
                                style="color: #ea6721; font-weight: 400; font-size: 18px !important;"></i>
                            <a href="https://www.moov-africa.ci/moovevent/">
                                Moov Event
                            </a>
                        </p>
                        <p style="margin-top: -10px;">
                            <i class="icofont-rounded-right"
                                style="color: #ea6721; font-weight: 400; font-size: 18px !important;"></i>
                            <a href="https://www.moov-africa.ci/nos-evenements-en-video/">
                                Galarie Vidéos
                            </a>
                        </p>
                        <p style="margin-top: -10px;">
                            <i class="icofont-rounded-right"
                                style="color: #ea6721; font-weight: 400; font-size: 18px !important;"></i>
                            <a href="https://www.moov-africa.ci/codes-utiles/">
                                Code utiles
                            </a>
                        </p>
                        <p style="margin-top: -10px;">
                            <i class="icofont-rounded-right"
                                style="color: #ea6721; font-weight: 400; font-size: 18px !important;"></i>
                            <a href="https://www.moov-africa.ci/portabilite/">
                                Portabilité
                            </a>
                        </p>
                        <p style="margin-top: -10px;">
                            <i class="icofont-rounded-right"
                                style="color: #ea6721; font-weight: 400; font-size: 18px !important;"></i>
                            <a href="https://www.moov-africa.ci/boutique/">
                                Boutique
                            </a>
                        </p>
                        <p style="margin-top: -10px;">
                            <i class="icofont-rounded-right"
                                style="color: #ea6721; font-weight: 400; font-size: 18px !important;"></i>
                            <a href="https://www.moov-africa.ci/formation-digitale-moovcyberlab/">
                                Formation digitale
                            </a>
                        </p>
                        <p style="margin-top: -10px;">
                            <i class="icofont-rounded-right"
                                style="color: #ea6721; font-weight: 400; font-size: 18px !important;"></i>
                            <a href="https://www.moov-africa.ci/qui-sommes-nous/">
                                Qui sommes nous?
                            </a>
                        </p>
                        <p style="margin-top: -10px;">
                            <i class="icofont-rounded-right"
                                style="color: #ea6721; font-weight: 400; font-size: 18px !important;"></i>
                            <a
                                href="https://www.moov-africa.ci/wp-content/uploads/2021/06/Cession-des-Equipements-Telecom-V2.xlsx">
                                Vente de matériel
                            </a>
                        </p>
                        <p style="margin-top: -10px;">
                            <i class="icofont-rounded-right"
                                style="color: #ea6721; font-weight: 400; font-size: 18px !important;"></i>
                            <a
                                href="https://www.moov-africa.ci/wp-content/uploads/2021/06/catalogue-interconexion-approive.pdf">
                                Catalogue d'interconnexion
                            </a>
                        </p>
                        <p style="margin-top: -10px;">
                            <i class="icofont-rounded-right"
                                style="color: #ea6721; font-weight: 400; font-size: 18px !important;"></i>
                            <a
                                href="https://www.moov-africa.ci/wp-content/uploads/2021/11/Conditions-Generales-dabonnement-08062021.pdf">
                                Condition Générale d'Abonnement Moov Africa Ci
                            </a>
                        </p>
                        <p style="margin-top: -10px;">
                            <i class="icofont-rounded-right"
                                style="color: #ea6721; font-weight: 400; font-size: 18px !important;"></i>
                            <a
                                href="https://www.moov-africa.ci/wp-content/uploads/2023/01/conditions-generales-d-abonnement-moov-africa-ci-29-12-2021.pdf">
                                Condition générale d'abonnement Moov Africa Ci
                            </a>
                        </p>
                        <p style="margin-top: -10px;">
                            <i class="icofont-rounded-right"
                                style="color: #ea6721; font-weight: 400; font-size: 18px !important;"></i>
                            <a href="https://www.moov-africa.ci/wp-content/uploads/2023/06/FOIRE-AUX-GIGAS.pdf">
                                Condition générale Jeu foire aux gigas
                            </a>
                        </p>
                        <p style="margin-top: -10px;">
                            <i class="icofont-rounded-right"
                                style="color: #ea6721; font-weight: 400; font-size: 18px !important;"></i>
                            <a href="https://www.moov-africa.ci/wp-content/uploads/2023/09/REGLEMENT.MOT-POUR-MOT.pdf">
                                Règlement jeu Mot pour Mot
                            </a>
                        </p>
                        <p style="margin-top:-10px;">
                            <i class="icofont-rounded-right"
                                style="color: #ea6721; font-weight: 400; font-size: 18px !important;"></i>
                            <a href="https://www.moov-africa.ci/wp-content/uploads/2023/09/REGLEMENT-JEU-PILE-POIL.pdf">
                                Règlement jeu pile poil
                            </a>
                        </p>
                    </div>


                </div>
                <div class="col footer-links">
                    <h3 class="type">Espace PARTICULIER
                    </h3>
                    <div class="" style="margin-top: -10px;">
                        <hr class="hr_mate" style="float: left;">
                    </div>
                    <div class="" style="float: left; font-weight: 300 !important;">
                        <p>
                            <i class="icofont-rounded-right"
                                style="color: #ea6721; font-weight: 400; font-size: 18px !important;"></i>
                            <a href="#" style="color:#000; font-weight: 700;">Nouveau</a>
                        </p>
                        <p style="margin-top: -10px;">
                            <a href="https://www.moov-africa.ci/espace-particulier/mymoov/">
                                Application MyMoov
                            </a>
                        </p>
                        <p style="margin-top: -10px;">
                            <i class="icofont-rounded-right"
                                style="color: #ea6721; font-weight: 400; font-size: 18px !important;"></i>
                            <a href="#" style="color:#000; font-weight: 700;">Offres internet</a>
                        </p>
                        <p style="margin-top: -10px;">
                            <a
                                href="https://www.moov-africa.ci/espace-particulier/fibre-optique-moov-africa-cote-divoire/">
                                Fibre Optique
                            </a>
                        </p>
                        <p style="margin-top: -10px;">
                            <a href="https://www.moov-africa.ci/espace-particulier/offre-internet-maxi-data/">
                                Maxi Data
                            </a>
                        </p>
                        <p style="margin-top: -10px;">
                            <a href="https://www.moov-africa.ci/espace-particulier/internet-4g/">
                                Internet 4G
                            </a>
                        </p>
                        <p style="margin-top: -10px;">
                            <a href="https://www.moov-africa.ci/espace-particulier/offre-internet-illimite/">
                                Offre internet illimité
                            </a>
                        </p>
                        <p style="margin-top: -10px;">
                            <a href="https://www.moov-africa.ci/espace-particulier/equipement-internet/">
                                Equipements Internet
                            </a>
                        </p>
                        <p style="margin-top: -10px;">
                            <i class="icofont-rounded-right"
                                style="color: #ea6721; font-weight: 400; font-size: 18px !important;"></i>
                            <a href="#" style="color:#000; font-weight: 700;">Forfaits appels</a>
                        </p>
                        <p style="margin-top: -10px;">
                            <a href="https://www.moov-africa.ci/espace-particulier/forfaits-izy-heures/">
                                Izy Heures +
                            </a>
                        </p>
                        <p style="margin-top: -10px;">
                            <a href="https://www.moov-africa.ci/espace-particulier/folie-mix/">
                                Folie Mix
                            </a>
                        </p>
                        <p style="margin-top: -10px;">
                            <a href="https://www.moov-africa.ci/espace-particulier/forfaits-inter/">
                                Forfaits internationaux
                            </a>
                        </p>
                        <p style="margin-top: -10px;">
                            <a href="https://www.moov-africa.ci/espace-particulier/moov-roaming/">
                                Moov Roaming
                            </a>
                        </p>
                        <p style="margin-top: -10px;">
                            <i class="icofont-rounded-right"
                                style="color: #ea6721; font-weight: 400; font-size: 18px !important;"></i>
                            <a href="#" style="color:#000; font-weight: 700;">Services mobile</a>
                        </p>
                        <p style="margin-top: -10px;">
                            <a href="#">
                                Divertissement
                            </a>
                        </p>
                        <p style="margin-top: -10px;">
                            <a href="https://www.moov-africa.ci/espace-particulier/moov-merci/">
                                Moov merci
                            </a>
                        </p>
                        <p style="margin-top: -10px;">
                            <a href="https://www.moov-africa.ci/espace-particulier/divertissement/">
                                Forfait SMS
                            </a>
                        </p>
                        <p style="margin-top: -10px;">
                            <a href="https://www.moov-africa.ci/espace-particulier/sos-credit-moov/">
                                SOS Crédit Moov
                            </a>
                        </p>
                        <p style="margin-top:-10px;">
                            <i class="icofont-rounded-right"
                                style="color: #ea6721; font-weight: 400; font-size: 18px !important;"></i>
                            <a href="https://www.moov-africa.ci/wp-content/uploads/2023/09/REGLEMENT-JEU-PILE-POIL.pdf">
                                Communiqué vente de kit
                            </a>
                        </p>
                    </div>


                </div>

                <div class="col footer-links">
                    <h3 class="type">Espace ENTREPRISE</h3>
                    <div class="" style="margin-top: -10px;">
                        <hr class="hr_mate" style="float: left;">
                    </div>
                    <div class="" style="float: left; font-weight: 300 !important;">

                        <p>
                            <i class="icofont-rounded-right"
                                style="color: #ea6721; font-weight: 400; font-size: 18px !important;"></i>
                            <a href="#" style="color:#000; font-weight: 700;">Solutions</a>
                        </p>

                        <p style="margin-top:-10px;">
                            <a href="https://www.moov-africa.ci/espace-entreprise/solutions-prepayees/">
                                Solutions Prépayées
                            </a>
                        </p>
                        <p style="margin-top:-10px;">
                            <a href="https://www.moov-africa.ci/espace-entreprise/solutions-postpayees/">
                                Solutions Postpayée
                            </a>
                        </p>
                        <p style="margin-top:-10px;">
                            <a href="https://www.moov-africa.ci/espace-entreprise/solutions-internet/">
                                Solutions internet
                            </a>
                        </p>
                        <p style="margin-top:-10px;">
                            <a href="https://www.moov-africa.ci/espace-entreprise/solutions-reseaux-moov/">
                                Solutions Réseaux
                            </a>
                        </p>
                    </div>


                </div>

                <div class="col footer-links">
                    <h3 class="type">Moov MONEY</h3>
                    <div class="" style="margin-top: -10px;">
                        <hr class="hr_mate" style="float: left;">
                    </div>
                    <div class="" style="float: left; font-weight: 300 !important;">
                        <p>
                            <i class="icofont-rounded-right"
                                style="color: #ea6721; font-weight: 400; font-size: 18px !important;"></i>
                            <a href="#" style="color:#000; font-weight: 700;">Mon compte</a>
                        </p>
                        <p style="margin-top:-10px;">
                            <a href="https://www.moov-africa.ci/moov-money/ouvrir-un-compte-moov-money/">
                                Ouvrir mon compte
                            </a>
                        </p>
                        <p style="margin-top:-10px;">
                            <a
                                href="https://www.moov-africa.ci/wp-content/uploads/2022/03/MMONEY-CI-FRAIS-DE-SERVICE.pdf">
                                Tarifs transactions
                            </a>
                        </p>
                        <p>
                            <i class="icofont-rounded-right"
                                style="color: #ea6721; font-weight: 400; font-size: 18px !important;"></i>
                            <a href="#" style="color:#000; font-weight: 700;">Transfert d'argent</a>
                        </p>
                        <p style="margin-top:-10px;">
                            <a href="https://www.moov-africa.ci/moov-money/tarifs-moov-money/">
                                Tarifs Moov Money
                            </a>
                        </p>
                        <p>
                            <i class="icofont-rounded-right"
                                style="color: #ea6721; font-weight: 400; font-size: 18px !important;"></i>
                            <a href="#" style="color:#000; font-weight: 700;">Paiement de factures</a>
                        </p>
                        <p style="margin-top:-10px;">
                            <a href="https://www.moov-africa.ci/moov-money/reabonnement-tv/">
                                Réabonnement TV
                            </a>
                        </p>
                        <p style="margin-top:-10px;">
                            <a href="https://www.moov-africa.ci/moov-money/paiement-de-factures/">
                                Paiement de factures
                            </a>
                        </p>
                        <p>
                            <i class="icofont-rounded-right"
                                style="color: #ea6721; font-weight: 400; font-size: 18px !important;"></i>
                            <a href="#" style="color:#000; font-weight: 700;">Autres services</a>
                        </p>
                        <p style="margin-top:-10px;">
                            <a href="https://www.moov-africa.ci/moov-money/collecte-de-fonds/">
                                Collecte de fonds
                            </a>
                        </p>
                        <p style="margin-top:-10px;">
                            <a href="https://www.moov-africa.ci/moov-money/retrait-sans-carte/">
                                Retrait sans carte
                            </a>
                        </p>
                        <p style="margin-top:-10px;">
                            <a href="https://www.moov-africa.ci/moov-money/paiement-marchand-green-pay/">
                                Paiement marchand Green Pay
                            </a>
                        </p>
                        <p style="margin-top:-10px;">
                            <a href="https://www.moov-africa.ci/moov-money/distributeur-moov-money/">
                                Marchand Moov Money
                            </a>
                        </p>
                        <p style="margin-top:-10px;">
                            <a href="https://www.moov-africa.ci/moov-money/achat-de-credits-forfaits/">
                                Achat de crédit &amp; forfaits
                            </a>
                        </p>
                        <p style="margin-top:-10px;">
                            <a href="https://www.moov-africa.ci/moov-money/paiement-de-salaire/">
                                Paiement de salaire
                            </a>
                        </p>
                        <p style="margin-top:-10px;">
                            <a href="https://www.moov-africa.ci/wp-content/uploads/2022/07/REGLEMENT-MOOV-PARTAGE.pdf">
                                Jeux moov money partage
                            </a>
                        </p>
                        <p style="margin-top:-10px;">
                            <a
                                href="https://www.moov-africa.ci/wp-content/uploads/2022/03/Conditions-Generales-MOOV-MONEY-VF.pdf">
                                Condition Générale d'utilisation Moov Money
                            </a>
                        </p>
                        <p style="margin-top:-10px;">
                            <a href="https://www.moov-africa.ci/wp-content/uploads/2023/05/communique_moovafrica.pdf">
                                Communiqué Moov Mooney
                            </a>
                        </p>
                        <p style="margin-top:-10px;">
                            <a
                                href="https://www.moov-africa.ci/wp-content/uploads/2023/08/Conditions-Generales-MOOV-MONEY-VF.html">
                                Conditions Générale d'utilisation Moov Money APK
                            </a>
                        </p>
                    </div>




                </div>


                <div class="col footer-links">
                    <h3 class="type">ASSISTANCE</h3>
                    <div class="" style="margin-top: -10px;">
                        <hr class="hr_mate" style="float: left;">
                    </div>
                    <div class="" style="float: left; font-weight: 300 !important;">
                        <p>
                            <i class="icofont-rounded-right"
                                style="color: #ea6721; font-weight: 400; font-size: 18px !important;"></i>
                            <a href="#" style="color:#000; font-weight: 700;">Aide & contacts</a>
                        </p>
                        <p style="margin-top:-10px;">
                            <a href="https://www.moov-africa.ci/espace-particulier/la-4g-en-cote-d-ivoire/">
                                4G de Moov
                            </a>
                        </p>
                        <p style="margin-top:-10px;">
                            <a href="https://www.moov-africa.ci/moov-money/">
                                Moov Money
                            </a>
                        </p>
                        <p style="margin-top:-10px;">
                            <a href="https://www.moov-africa.ci/espace-particulier/divertissement/">
                                Services à valeur AjoutéV
                            </a>
                        </p>
                        <p style="margin-top:-10px;">
                            <a href="https://www.moov-africa.ci/codes-utiles/">
                                Codes utiles
                            </a>
                        </p>
                        <p style="margin-top:-10px;">
                            <a href="https://www.moov-africa.ci/nos-agences/">
                                Nos agences
                            </a>
                        </p>
                        <p style="margin-top:-10px;">
                            <a href="https://www.moov-africa.ci/cybercriminalite/">
                                Cybercriminalité
                            </a>
                        </p>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <section id="topbar3" class="d-none d-lg-block">
        <p class="text-center" style="padding-top:15px; color:#212529;">© Copyright 2023 Moov Africa CI. Tous
            droits réservés. </p>
    </section>

</footer><!-- End Footer -->

<a href="#" class="back-to-top" title="Aller en haut"><img src="{{ asset('assets/img/up.png') }}"
        class="img-fluid img-responsive" width="40px"> </a>