<section id="" style="background: #f2f2f2;">
	<div class="container">
		<div class="row animated fadeInUp visible" data-animation="fadeInUp">
			<div class="col-md-12 text-center">
				<h2 class="up_text" style="color:#005BA4; font-size: 26px; font-weight: 600;"><i
						class="icofont-multimedia"></i> LE TOP DE MES APPLICATIONS</h2>
				<hr class="hr_mate">
			</div>


			<div class="col-md-12">
				<div class="row">
					<div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel"
						data-interval="1000">
						<div class="MultiCarousel-inner">
							<div class="item">
								<div class="pad15 app_bg">
									<a href="#" class=""><img src="assets/img/play_vod.png"
											class="img-fluid img-responsive app_img" width="70px"> </a>
								</div>
							</div>
							<div class="item">
								<div class="pad15 app_bg">
									<a href="#" class=""><img src="assets/img/miziki.png"
											class="img-fluid img-responsive app_img" width="70px"> </a>
								</div>
							</div>
							<div class="item">
								<div class="pad15 app_bg">
									<a href="#" class=""><img src="assets/img/play_vod.png"
											class="img-fluid img-responsive app_img" width="70px"> </a>
								</div>
							</div>
							<div class="item">
								<div class="pad15 app_bg">
									<a href="#" class=""><img src="assets/img/miziki.png"
											class="img-fluid img-responsive app_img" width="70px"> </a>
								</div>
							</div>
							<div class="item">
								<div class="pad15 app_bg">
									<a href="#" class=""><img src="assets/img/play_vod.png"
											class="img-fluid img-responsive app_img" width="70px"> </a>
								</div>
							</div>
							<div class="item">
								<div class="pad15 app_bg">
									<a href="#" class=""><img src="assets/img/miziki.png"
											class="img-fluid img-responsive app_img" width="70px"> </a>
								</div>
							</div>
							<div class="item">
								<div class="pad15 app_bg">
									<a href="#" class=""><img src="assets/img/play_vod.png"
											class="img-fluid img-responsive app_img" width="70px"> </a>
								</div>
							</div>
							<div class="item">
								<div class="pad15 app_bg">
									<a href="#" class=""><img src="assets/img/miziki.png"
											class="img-fluid img-responsive app_img" width="70px"> </a>
								</div>
							</div>
							<div class="item">
								<div class="pad15 app_bg">
									<a href="#" class=""><img src="assets/img/play_vod.png"
											class="img-fluid img-responsive app_img" width="70px"> </a>
								</div>
							</div>
							<div class="item">
								<div class="pad15 app_bg">
									<a href="#" class=""><img src="assets/img/miziki.png"
											class="img-fluid img-responsive app_img" width="70px"> </a>
								</div>
							</div>
							<div class="item">
								<div class="pad15 app_bg">
									<a href="#" class=""><img src="assets/img/play_vod.png"
											class="img-fluid img-responsive app_img" width="70px"> </a>
								</div>
							</div>
							<div class="item">
								<div class="pad15 app_bg">
									<a href="#" class=""><img src="assets/img/miziki.png"
											class="img-fluid img-responsive app_img" width="70px"> </a>
								</div>
							</div>
							<div class="item">
								<div class="pad15 app_bg">
									<a href="#" class=""><img src="assets/img/play_vod.png"
											class="img-fluid img-responsive app_img" width="70px"> </a>
								</div>
							</div>
							<div class="item">
								<div class="pad15 app_bg">
									<a href="#" class=""><img src="assets/img/miziki.png"
											class="img-fluid img-responsive app_img" width="70px"> </a>
								</div>
							</div>
							<div class="item">
								<div class="pad15 app_bg">
									<a href="#" class=""><img src="assets/img/play_vod.png"
											class="img-fluid img-responsive app_img" width="70px"> </a>
								</div>
							</div>
							<div class="item">
								<div class="pad15 app_bg">
									<a href="<#" class=""><img src="assets/img/miziki.png"
											class="img-fluid img-responsive app_img" width="70px"> </a>
								</div>
							</div>
						</div>
						<button class="btn btn-primary leftLst">
							< </button>
								<button class="btn btn-primary rightLst">></button>
					</div>
				</div>
			</div>


		</div>

	</div>
</section>